html
	head
		title Book Results
		link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css")
		link(href="css/business-casual.css" rel="stylesheet" type="text/css")
		link(href="css/style.css" rel="stylesheet" type="text/css")
	body
		div.container
			div.row
				div.box
					div.col-lg-12
						hr
						h2.intro-text.text-center Results
						hr
						img.img-responsive.img-border.img-left(src="img/book.jpg" alt="")
						hr.visible-xs
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						br

						div.filterButton(style="text-align: center")
							button#flip Sorted by Author
							button#flip1 Sorted by Title
							button#flip3 Sorted by Rating


						div.panel.panel-default.panel-body#panel(style="display: none")

							- book.sort(function(a,b) {
								- var textA = a.authors.toUpperCase()
								- var textB = b.authors.toUpperCase()
								- return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; 
							- })
							
							
							ul#datalist
								//- Widget makes app very slow because of size database!
								each thing in book
									li
										a(href="https://www.goodreads.com/search?q=" + thing.isbn)
											h4 #{thing.authors} - #{thing.title}
												span(class="rating-static rating-" + (Math.round(thing.rating * 2) / 2 * 10))
										h5
											span #{thing.tags}; &nbsp;

										//- div#goodreads-widget
										//- 	div#gr_header
										//- 		h1
										//- 			a(href="https://www.goodreads.com/search?q=" + thing.isbn) Goodreads Reviews
										//- 	iframe#the_iframe(src="https://www.goodreads.com/api/reviews_widget_iframe?did=21508&format=html&header_text=Goodreads+Reviews&isbn=" + thing.isbn + "&links=660&min_rating=&num_reviews=&review_back=ffffff&stars=000000&stylesheet=&text=444" width="600" height="300" frameborder="1")
										//- 	div#gr_footer
										//- 		a.gr_branding(target="_blank" href="https://www.goodreads.com/search?q=" + thing.isbn + "&utm_medium=api&utm_source=reviews_widget") Reviews from Goodreads.com

							span#moreResults See more

					
						div.panel.panel-default.panel-body#panel1(style="display: none")

							- book.sort(function(a,b) {
								- var textA = a.title.toUpperCase()
								- var textB = b.title.toUpperCase()
								- return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
							- })

							ul#datalist1
								each thing in book
									li
										a(href="https://www.goodreads.com/search?q=" + thing.isbn)
											h4 #{thing.title} - #{thing.authors}
												span(class="rating-static rating-" + (Math.round(thing.rating * 2) / 2 * 10))
										h5
											span #{thing.tags}; &nbsp;
							span#moreResults1 See more

						div.panel.panel-default.panel-body#panel3(style="display: none")

							- book.sort(function(a,b) {
								- var textA = a.rating
								- var textB = b.rating
								- return (textA > textB) ? -1 : (textA < textB) ? 1 : 0; 
							- })
							
							ul#datalist3
								each thing in book
									li
										a(href="https://www.goodreads.com/search?q=" + thing.isbn)
											h4 #{thing.authors} - #{thing.title}
												span(class="rating-static rating-" + (Math.round(thing.rating * 2) / 2 * 10))
										h5
											span #{thing.tags}; &nbsp;
							span#moreResults3 See more


		footer
			div.container
				div.row
					div.col-lg-12.text-center
						p Copyright &copy; Laura Kramer, Find Your Next Read 2016

		script(src="jquery/jquery-3.1.1.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="js/resultpage.js")